@font-face {
    font-family: Harmonia Sans Pro Cyr;
    src: url(fonts/HarmoniaSansProCyr-Regular.otf);
}

@font-face {
    font-family: Harmonia-Bold;
    src: url(/fonts/HarmoniaSansProCyr-Bold.otf);
}