body {
    background: #F8F4E5;
}

p {
    font-family: Harmonia Sans Pro Cyr;
    font-size: 16px;
    line-height: 38px;
}

nav {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: #FFE371;
}

#navbar {
    height: 60px;
}

    #nav-logo {
        display: inline;
    }

    #navbar > ul {
        display: inline;
        font-family: 'Harmonia-Bold';
        list-style: none;
        max-width: 660px;
        float: right;
        margin: 20px 0;
    }

    #navbar > ul > li {
        text-transform: uppercase;
        display: inline;
        margin-left: 48px;;
    }

    #cart-items-num {
        height: 0px;
        width: 10px;
        border: 3px solid #000;
        padding: 8px 10px 5px 10px;
        border-radius: 40px;
    }

#main {
    margin-top: 60px;
}

#carousel {
    width: 100%;
    height: 100vh;;
    background: #d3d3d3;
}

#story {
    width: 660px;
    margin: 140px auto 0 auto;
}
    #story h3 {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        padding-left: 60px;
    }
    
    #story .text {
        padding-left: 60px;
    }

    #story p {
        letter-spacing: 1px;
    }

.squiggline {
    width: 95px;
    height: 15px;
    margin: 80px auto;
}

#featured-products {
    text-align: center;
}

    #product-grid img {
        position: relative;
        display: inline;
        width: 235px;
        height: 205px;
        margin-right: 37px;
        margin-bottom: 55px;
    }

    #product-grid {
        max-width: 825px;
        margin: 0 auto;
        margin-top: 55px;
    }

#news {
    width: 100%;
    height: 415px;
    background: #d3d3d3;
}
    
    #instagram-grid {
        max-width: 825px;
        margin: 0 auto;
        margin-top: 55px;
    }

    #instagram-grid img {
        position: relative;
        display: inline;
        width: 235px;
        height: 235px;
        margin-right: 37px;
        margin-bottom: 55px;
    }

#map {
    width: 100%;
    height: 480px;
    background: #d3d3d3;
    margin-top: 70px;
}

footer {
    height: 185px;
    background: #FFE371;
}

    footer .six.columns { 
        padding: 22px 6px 0;
    }
    
    footer .three.columns {
        padding: 42px 0 20px 0;
    }

    footer img#logo-big {
        display: inline;
    }

    footer .six.columns p {
        display: inline-block;
        vertical-align: top;
        margin-left: 40px;
        margin-top: 20px;
        letter-spacing: 5px;
    }