body {
    background: #F8F4E5;
}

a,
a:visited {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #8B5742;
}

p {
    font-family: Harmonia Sans Pro Cyr;
    font-size: 16px;
    line-height: 38px;
    letter-spacing: 1.3px;
}

h3 {
    font-family: Bodoni-XT;
}

nav {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: #FFE371;
}

#navbar {
    height: 60px;
}

    #nav-logo {
        display: inline;
        margin-left: 15px;
    }

    #navbar > ul {
        display: inline;
        font-family: Harmonia Sans Pro Cyr Semibd;
        list-style: none;
        max-width: 660px;
        float: right;
        margin: 20px 0;
        padding: 0 30px;
    }

    #navbar > ul > li,
    #navbar > ul > a > li {
        font-family: Harmonia Sans Pro Cyr Semibd;
        text-transform: uppercase;
        display: inline;
        margin-left: 48px;
    }

    #cart-items-num {
        height: 0px;
        width: 10px;
        border: 3px solid #000;
        padding: 8px 10px 5px 10px;
        border-radius: 40px;
    }

#main {
    margin-top: 60px;
}

#carousel {
    width: 100%;
    height: 100vh;;
    background: #d3d3d3;
}

#story {
    width: 660px;
    margin: 140px auto 0 auto;
}
    #story h3 {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        padding-left: 60px;
    }
    
    #story .text {
        padding-left: 60px;
    }

.squiggline {
    width: 95px;
    height: 15px;
    margin: 80px auto;
}

#featured-products {
    text-align: center;
}
    #product-grid {
        max-width: 825px;
        margin: 0 auto;
        margin-top: 55px;
    }

#news {
    width: 100%;
    height: 415px;
    background: #d3d3d3;
}
    
    #instagram-grid {
        max-width: 825px;
        margin: 0 auto;
        margin-top: 55px;
    }

#map {
    width: 100%;
    height: 480px;
    background: #d3d3d3;
    margin-top: 70px;
}

footer {
    height: 185px;
    background: #FFE371;
}

    footer .six.columns { 
        padding: 22px 6px 0;
    }
    
    footer .three.columns {
        padding: 42px 0 20px 0;
    }

    footer img#logo-big {
        display: inline;
    }

    footer .six.columns p {
        display: inline-block;
        vertical-align: top;
        margin-left: 40px;
        margin-top: 20px;
        letter-spacing: 5px;
    }

    footer .three.columns p {
        letter-spacing: 3px;
    }

#contact {
    padding: 45px 0 ;
    min-height: 40vh;
    margin: 45px 0 0 0;
}

#contact p {
    margin-bottom: 0;
}

input[type=text],
input[type=email],
input[type=number],
textarea,
input[type=submit],
select {
    border: 3px solid #000;
    border-radius: 0 !important;
    background: none;
    resize: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: 0;
}

#item {
    margin: 140px auto 0 auto;
}
    #item h3 {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        padding-left: 60px;
    }
    
    #item .text {
        padding-left: 60px;
    }

    #item p {
        font-size: 1.3em;
    }

    #item h4.price {
        font-family: Harmonia Sans Pro Cyr Semibd;
        letter-spacing: 6px;
        margin-top: 15px;
    }
